@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.page__logement {
  margin: 0 6rem;
  font-family: 'Montserrat', sans-serif;
}

.logement__info {
  display:flex;
  justify-content: space-between;
  margin:40px 0;
}

.logement__title {
  color:#FF6060;
  font-size:36px;
  margin-block-start: 0em;
  margin-block-end:0.2em;
}

.logement__city {
  color:#FF6060;
  font-size:18px;
}

.logement__tags {
  display:flex;
  list-style: none;
  padding-inline-start: 0px;
}

.logement__tags li {
  background:#FF6060;
  color:white;
  padding:5px 20px;
  margin-right:15px;
  border-radius:10px;
}

.logement__dropdown {
  display:flex;
  column-gap: 50px;
}

.logement__dropdown .collapse {
  width:100%;
}

@media screen and (max-width: 768px) {
  .page__logement {
    margin: 0 1rem;
  }

  .page__logement .collapse__title h2 {
    font-size:12px!important;
  }

  .logement__info {
    flex-direction: column;
    margin:10px 0;
  }

  .logement__title {
    font-size:18px;
  }

  .logement__city {
    font-size:14px;
  }

  .logement__tags li {
    font-size:10px;
    margin-right: 5px;
  }

  .logement__tags {
    flex-wrap: wrap;
    row-gap:10px;
  }

  .logement__more {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .logement__dropdown {
    flex-direction: column;
    row-gap:20px;
  }
}