.page__logement {
  margin: 0 6rem;
}

.logement__info {
  display:flex;
  justify-content: space-between;
}

.logement__title {
  color:#FF6060;
  font-size:36px;
  margin-block-end:0.2em;
}

.logement__city {
  color:#FF6060;
  font-size:18px;
}

.logement__tags {
  display:flex;
  list-style: none;
  padding-inline-start: 0px;
}

.logement__tags li {
  background:#FF6060;
  color:white;
  padding:5px 20px;
  margin-right:15px;
  border-radius:10px;
}

.logement__dropdown {
  display:flex;
  column-gap: 50px;
}

.logement__dropdown .collapse {
  width:100%;
}