.about__collapse {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.collapse__article {
  width:100%;
}

@media screen and (max-width: 768px) {
  .about__collapse {
    margin: 2rem 0rem;
  }
}